.wrappe {
  width: 100%;
  height: 100vh;
  background-color: brown;
  display: flex;
  position: relative;
}

.header {
  display: flex;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  background: url(../img/bg.png) fixed center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-between;
  align-items: center;
}

.header_conteiner {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.image_conteiner {
  margin-top: 1.3%;
  margin-bottom: 16%;
}

.heading_header {
  margin-bottom: 10px;
  font-family: "Bebas Neue", cursive;
  font-size: calc(24px + 36 * (100vw / 1438));
  line-height: 70px;
  text-align: center;
  color: #fff;
}

.text_heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: calc(8px + 8 * (100vh / 1438));
  text-align: center;
  color: #fff;
  margin-bottom: 5.9%;
}

.scrol {
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 3.7px;
  color: #ffffff;
  justify-content: center;
  opacity: 0.5;
}

.rectangle {
  display: flex;
  width: 100%;
  height: 65px;
  justify-content: space-between;
  padding: 25px 250px 0px;
  border-bottom: 1px solid #e6e6e6;
}

.rectangle > img {
  width: 80px;
  height: 16px;
}

.menu {
  display: flex;
}

.menu_link {
  display: flex;
}

.menu_link > li > a {
  padding-right: 30px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #48555b;
}

.menu_link > li > a:hover {
  color: #08b4f8;
  transition: 0.5s;
}

.content {
  display: block;
  padding-left: 250px;
  padding-right: 250px;
}

.content_conteiner {
  margin-top: 57px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content_item_conteiner {
  display: flex;
}

.content_heading {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #48555b;
}

.content_heading_line {
  margin-top: 10px;
  width: 50px;
  height: 2px;
  left: 447px;
  top: 34px;
  border: 2px solid #00a4e5;
}

.content_block_text {
  display: block;
  width: 50.2%;
  height: 30%;
}

.content_block_text_heading {
  margin-top: 80px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
}
.content_block_loream {
  font-family: "Open Sans", sans-serif;
  margin-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  color: #48555b;
}

.content_baners {
  display: flex;
  margin-top: 80px;
  width: 90%;
  height: 50%;
  justify-content: space-between;
}

.content_baners_item_one {
  width: 140px;
  height: 224px;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.3);
  margin-left: 20px;
  background-image: url(../img/fon1.png);
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  padding: 23px 0px 0px 23px;
  color: #fff;
}
.content_baners_item_two {
  width: 140px;
  height: 224px;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.3);
  margin-left: 20px;
  background-image: url(../img/fon2.png);
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  padding: 23px 0px 0px 23px;
  color: #fff;
}
.content_baners_item_free {
  width: 140px;
  height: 224px;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.3);
  margin-left: 20px;
  background-image: url(../img/fon3.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  padding: 23px 0px 0px 23px;
  color: #fff;
}
.rectangle_two {
  display: flex;
  width: 100%;
  height: 65px;
  justify-content: space-between;
  margin-top: 151px;
}

.rectangle_text {
  width: 35%;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  line-height: 19px;
  color: #48555b;
}

.rectangle_button {
  background-color: #00a4e5;
  width: 150px;
  height: 40px;
  padding-top: 13px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #ffffff;
}

.marketing_conteiner {
  justify-content: space-between;
  margin-top: 78px;
  display: flex;
  width: 100%;
}

.marketing_item {
  width: 295px;
  height: 330px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  padding: 38px 28px 39px 23px;
  margin-left: 28px;
}

.img_blok_item {
  margin: 8px 0px 0px 0px;
}

.marketing_item_heading {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 0.426667px;
  color: #48555b;
  margin-bottom: 13px;
}

.marketing_item_text {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #48555b;
  letter-spacing: 0.1875px;
}

.conjurer_conteiner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: url(../img/bg_count.png) center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.conjurer {
  width: 100%;
  margin-top: 115px;
  height: 500px;
}

.conjurer_heading {
  color: #48555b;
  padding-top: 112px;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
}

.conjurer_button {
  margin-top: 35px;
  padding: 11px 26px 11px 26px;
  background: #00a4e5;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #ffffff;
  margin-bottom: 242px;
}

.rectangle_free {
  justify-content: center;
  display: flex;
  width: 100%;
  height: 10%;
  background: #171819;
}

.rectangle_free_conteiner {
  display: flex;
}

.rectangle_free_heading {
  font-family: "Open Sans", sans-serif;
  margin: 35px 71px 35px 0px;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.846154px;
  color: #ffffff;
}

.rectangle_form_input {
  width: 250px;
  height: 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  padding-left: 16px;
}

.rectangle_free_button {
  margin: 35px 0px 35px 0px;
  padding: 14px 48px 11px 48px;
  text-align: center;
  background: #00a4e5;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

.connection {
  width: 100%;
  height: 24%;
  background: #141a20;
}

.connection_conteiner {
  display: flex;
  padding: 42px 250px 0px 250px;
}

.conntecion_information {
  width: 20%;
  margin-left: 100px;
  text-align: left;
}

.conection_heading_text {
  margin-bottom: 19px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}

.connection_logotype {
  margin-bottom: 19px;
}

.conection_infomation {
  margin:0px 50px 50px 0px ;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 11px;
  line-height: 19px;
  width: 50%;
  height: 10%;
  
}
.link {
  width: 10%;
  height: 50%;
  margin-right: 50px;
}

.connection_text {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  line-height: 15px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.connection_links {
  margin-bottom: 20px;
}

.connection_links_hover {
  margin-bottom: 10%;
}

.connection_links_hover > a {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}

.connection_links_hover > a:hover{
  color: #08b4f8;
  transition: 0.5s;
}

.links {
  margin-bottom: 10px;
}



.document{
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}

.document > ul{
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 10px;
}

.document > ul > li{
  padding-bottom: 10px;
}

.document > ul > li > a{
  color: #FFFFFF;
}

.document > ul > li > a:hover{
  color: #08b4f8;
  transition: 0.5s;
}

.contact{
margin-left: 57px;
font-family: "Open Sans", sans-serif;
font-size: 11px;
line-height: 16px;
color: #FFFFFF;
}

.contact_header{
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.social{
  display: flex;
  text-align: center;
}

.social_link{
 margin-left: 74px;
}



@media (max-width: 1259px) {
  .content {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
  body {
    min-width: 568px;
  }
  .scrol {
    opacity: 0;
  }
  .rectangle {
    flex-direction: column;
    align-items: center;
  }
  .menu_link {
    flex-direction: row;
    align-items: center;
  }

  .heading_header {
    font-size: calc(24px + (36 + 36 * 0.7) * (100vw / 1438));
  }

  .text_heading {
    font-size: calc(8px + (8 + 8 * 0.7) * (100vw / 1438));
    margin-bottom: 70%;
  }
  .content_baners {
    flex-direction: column;
  }

  .content_baners_item_one {
    margin-bottom: 10px;
  }
  .content_baners_item_two {
    margin-bottom: 10px;
  }
  .content_baners_item_free {
    margin-bottom: 10px;
  }

  .connection_conteiner{
    padding: 0;
    display: block;
  }

  .conection_infomation{

  }
  .marketing_item{
    margin-bottom: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

}

@media (max-width:1124px) {
  .marketing_conteiner{
    justify-content: center;
    display: block;
    
  }
}
